*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    height:10%;
	min-height:100px;
    background: #1d3557;
    position: flex;
    top: 0;
    left: 0;
    z-index: 999;
}
.container nav ul {
    width: 100%;
    height: 100%;
    margin-left: 0 auto ;
    list-style: none;
    transition: all 0.5s ease;
}
.container nav ul li {
    width: 20%;
    float: left;
    text-align: center;
    color: #eee;
    padding: 24px 15px;
    font-size: 20px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
	vertical-align:middle;
}
/*.container .header           če bom dodajal sliko za oazdje*/

.container nav ul li:hover {
    color: #e63946;
    box-shadow: inset 0 5px #e63946;
}

.container nav ul li ul.sub-nav{
    position: absolute;
    background: #1d3557;
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14), -1px 0px 1px rgba(0, 0, 0, 0.14);
    top: 75px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.container nav ul li ul.sub-nav li{
    color: #eee;
    font-size: 14px;
    width: 100%;
    padding: 15px 0;

}
.container nav ul li ul.sub-nav li:hover{
    color: #e63946;
    box-shadow: 0 0;
}
.container nav ul li:hover ul.sub-nav {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 720px) {
    .container{
        height: ;
    }
}

/*meja:720px*/

.flex {
	display:flex
}

h1 {
	background-color:#f1faee;
	padding:1%;
	text-align:center;
}

.pi {
	font-size:140%
}
