/**{
    margin: 0;
    padding: 0;
}*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(slike/vesolje.jpg);
    color: #ee5;
}
ul {
    margin: 0;
    padding: 0;
}
/* to je NAV ==> PUSTI PRI MIRU!!*/
.container {
    width: 100%;
    height: 75px;
    background-image: url(slike/nebula.jpg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
}
.container nav ul {
    width: 100%;
    height: 100%;
    margin-left: 0 auto ;
    list-style: none;
    transition: all 0.5s ease;
}
.container nav ul li {
    /*width: 20%;*/
    float: left;
    text-align: center;
    color: #eee;
    padding: 24px 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
}
/*.container .header           če bom dodajal sliko za oazdje*/

.container nav ul li:hover {
    color: #b5e550;
    box-shadow: inset 0 5px #b5e550;
}

.container nav ul li ul.sub-nav{
    position: absolute;
    background-image: url(slike/nebula.jpg);
    width: 100%;
    height: 200px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14), -1px 0px 1px rgba(0, 0, 0, 0.14);
    top: 75px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.container nav ul li ul.sub-nav li{
    color: #eee;
    font-size: 14px;
    width: 100%;
    padding: 15px 0;

}
.container nav ul li ul.sub-nav li:hover{
    color: #b5e550;
    box-shadow: 0 0;
}
.container nav ul li:hover ul.sub-nav {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 1013px) {
    .container{
        height: 150px;
    }
}
/*https://youtu.be/xfxMtIwo7tw*/
/* DO TUKAJ PUSTI PRI MIRU!!*/
/*za manjše zaslone*/
@media screen and (max-width: 1013px) {
    .prvi{
        margin-top: 150px;
    }
}
/*za včje zaslone*/
@media screen and (min-width: 1014px) {
    .prvi{
        margin-top: 85px;
    }
        
}
/*ostalo*/
a:link {
    color: #eee;
    text-decoration: none;
}
a:visited {
    color: #eee;
    text-decoration: none;
}
a:hover {
    color: #ee5;
}
.kvadrat{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 3px;
    border-width: 20px;
    border-style: ridge;
}
/*
To je za slike... pusti pr gmah!
*/

.slikaplaneta {
    position: relative;
    float: right;
   height: 250px;
   width: 250px;
   padding: 15px;
} 

.image {
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
 }
 
.middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%)
 }
 
.slikaplaneta:hover .image {
   opacity: 0.3;
 }
 
.slikaplaneta:hover .middle {
   opacity: 1;
 }
.text {
   background-color: #4caf4f00;
   color: white;
   font-size: 16px;
   padding: 16px 32px;
   text-align: center;
}
.virs {
    position: absolute;
    bottom: 35px;
    right: 35px;
    visibility: hidden;
}

/*Do sem je za slike... pusti pr gmah!*/
/*.satelit:hover .sat{
    visibility: visible;
}
.satelit {
    font-weight: bold;
}
.sat {
    visibility: hidden;
}*/
table {
    width: 100%;
    border-color: #b6e55067;
    text-align: center;
}
th {
    font-weight: normal;
}

tr:hover {
    background-color: black;
}
/*.slikica {
   height: 15px; 
}*/
.slikica {
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 20px;
    visibility: hidden;
}
tr:hover .slikica {
  visibility: visible;  
}/*
tr {
    text-align: center;
}*/
.slika {
    position: relative;
    float: right;
    width: 250px;
    margin: 15px;
}
.slika:hover .image {
  opacity: 0.3;
}
 
.slika:hover .middle {
  opacity: 1;
}
.slika:hover .virs {
    visibility: visible;
}
.slikaplaneta:hover .virs{
    visibility: visible;
}

