body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    height: 80px;
    background-color: #d6ce15;
    border-radius: 10px;
    padding: 20px;
}
nav {
    background-color: #a4a71e;
    border-radius: 10px;
    margin: 0px;
}

section {
    padding-left: 10px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
}
footer {
    height: 70px;
    background-color: #1f6521;
    font-size: 150%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 5px;
}
.prvi {
    background-color: #1f2605;
    color: white;
}
.drugi {
    background-color: #53900f;
}
ul {
    margin: 5px;
    margin-left: 20px;
    padding: 8px;
    list-style-type: lower-greek;
}
iframe {
    height: 100%;
    padding: 5px;   
}
img {
    float: right;
    margin: 5px;
}

/*  za računalnike*/
@media screen and (min-width: 760px){
    nav {
        float: left;
        width: 24%;
        margin-top: 5px;     
    }
    section {
        margin-left: 25%;
        padding-left: 10px;
        padding: 15px;
        border-radius: 10px;
        margin-top: 5px;
    }
    
    iframe {
        width: 74%;
        padding-left: 26%;
    }

}
 /*  za telefone */
@media screen and (max-width: 759px) {
    nav li{
        display: inline;
        margin: 5px;
    }
    iframe {
        width: 99%;
    }
}